body {
  font-family: Helvetica, 'Roboto', Arial, 'Poppins', sans-serif;
  background-image: url('../img/background/');
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

li {
  font-size: 16px;
}

/** header: **/
header {
  display: block;
  border-bottom: 4px solid rgb(164, 214, 24);
  background-color: #fff;
  /** background-image: url('../img/background/wp2163708-arduino-wallpapers.jpg');
  **/
}

.logo {
  float: left;
  width: 9em;
  margin: 1rem;
  border-radius: 40%;
}

.title {
  text-align: center;
  font-size: 2em;
  padding: 2em 0em;
  color: #fff;
  vertical-align: baseline;
}

.title > span {
  background-color: rgb(202, 22, 22);
}

/** Nav: **/
nav {
  background-color: currentColor;
  display: block;
}

.taskbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0;
  /** justify-content: space-between; */
}

.taskbar li {
  width: 10em;
  text-align: center;
  border: 1px solid green;
  border-top: none;
  border-bottom: none;
}

.taskbar a {
  padding: 1rem 1rem;
  color: bisque;
  text-decoration: none;
  display: block;
}

.taskbar a:hover {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 175, 9);
}

.taskbar li ul {
  position: absolute;
  width: 150px;
  display: none;
}

/** on hover to top element: */
.taskbar li:hover ul {
  display: block;
}

.taskbar li li {
  background-color: rgb(22, 17, 14);
  color: white;
}

/** about content: */
.about-container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em auto;
  padding-top: 5em;
  text-align: center;
}

.about-header {
  text-align: center;
}

.about-header h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
}

.about-container hr {
  width: 100%;
  margin-top: 5rem;
}

.about-points hr {
  width: 60%;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.about-points {
  position: relative;
}

.about-points ul {
  text-align: left;
  display: inline-block;
  list-style-type: square;
}

.points {
  font-size: 1.5rem;
  font-variant: normal;
  font: 500;
}

.points a {
  text-decoration: wavy;
}

/** projects: **/

.projects {
  color: #fff;
  padding-bottom: 2.5rem;
  background-color: rgb(36, 35, 35);
  width: 100%;
  margin: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.projects-header {
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.header-container .header {
  text-transform: uppercase;
  font-size: 4rem;
  color: inherit;
  margin-top: 0;
}

.projects-body {
  display: flex;
  flex-wrap: wrap;
}

.projects-body-container {
  padding-bottom: 2.5em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.projects-row {
  padding-bottom: 2rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -3em;
  margin-right: -3em;
}

.projects-1,
.projects-2 {
  padding-bottom: 3.5rem;
  width: 100%;
}

.card {
  max-width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: ivory;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 1, 1);
}

.card-img {
  width: 100%;
  height: 100%;
  border-style: none;
  vertical-align: middle;
}

.card-body {
  padding: 2rem;
}

.card-body button {
  width: 100%;
  color: red;
  border-color: darkcyan;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid transparent;
  padding: 0.5em 0.9em;
  font-size: 1.5em;
  line-height: inherit;
}

.card-body button:hover {
  color: #fff;
  background-color: #2eadc0;
  border-color: #27a0b3;
}

.card-body button:not(:disabled) {
  cursor: pointer;
}

.fa-caret-down {
  padding: 1rem;
  font-size: 22px;
}

.fa,
.fas {
  font-weight: 900;
}

.body-collapse:not(.show) {
  display: none;
}

.collapse-container {
  padding-bottom: 2.5em;
  color: black !important;
  background-color: #fbfbfb;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.collapse-container div {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
  flex-direction: column;
}

.collapse-container-data {
  position: relative;
  width: 100%;
  min-height: 2px;
  padding-right: 16px;
  padding-left: 16px;
}

.collapse-container-data h5 {
  text-align: justify;
  text-transform: uppercase;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  color: blueviolet;
  margin-top: 0;
}

.collapse-container-data p {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

.project-1-technologies,
.project-2-technologies {
  padding-left: 0;
}

.project-1-technologies li:not(:last-child) {
  margin-right: 0.7rem;
}

.project-2-technologies li:not(:last-child) {
  margin-right: 0.7rem;
}

.collapse-container-data a {
  text-align: center;
}

.collapse-container-data a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.col-p {
  width: 100%;
  height: 100%;
}

/* For mobile phones: */
.col-p {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 576px) {
  .col-p {
    -ms-flex: 0 0 100%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* For desktops and laptop PC.s: */
@media only screen and (min-width: 768px) {
  .col-p {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/** contact: **/
.contact-header {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-box {
  padding: 1em;
  margin: 3em;
  border: 2px solid transparent;
  width: 30%;
  float: left;
}

.form-control {
  display: block;
  width: 40%;
  border-radius: 3px;
}

/** footer: **/
footer {
  display: flex;
  flex-direction: column;
  background-image: url('../img/background/thomas\ more\ footer.jpg');
  color: cyan;
  padding: 19px;
  text-align: center;
  border-top: 2.5px solid rgb(22, 17, 14);
  border-bottom: 2.5px solid rgb(24, 13, 7);
  margin-bottom: 0px;
  vertical-align: middle;
}
