body {
  font-family: 'Roboto', Arial, sans-serif;
  background-image: url('../img/background.jpg');
  background-size: cover;
  color: #333;
  font-size: 16px;
}

li {
  font-size: 16px;
}

/* Header Styles */
header {
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.title span {
  background-color: #ea7f28;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

/* Navigation Styles */
nav {
  background-color: #333;
}

.taskbar {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.taskbar li {
  margin: 0;
  position: relative;
}

.taskbar a {
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
}

.taskbar a:hover {
  background-color: #ea7f28;
}

/** on hover to top element: */
.taskbar li:hover ul {
  display: block;
}

.taskbar li ul {
  position: absolute;
  display: none;
  background-color: #333;
}

.taskbar li li {
  display: block;
}



/* About Me Section Styles */
.about-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  text-align: center;
}



.about-header h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
}

.about-points hr {
  border-top: 2px solid #ea7f28;
  margin: 2rem 0;
}

.points {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.points a {
  text-decoration: wavy;
}



/* Skills Section Styles */
.skills-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  text-align: center;
}

.skills-header h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
}

.skills-points hr {
  border-top: 2px solid #ea7f28;
  margin: 2rem 0;
}

.points {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}



/** projects: **/

.projects {
  color: #fff;
  padding-bottom: 2.5rem;
  background-color: rgb(36, 35, 35);
  width: 100%;
  margin: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.projects-header {
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.header-container .header {
  text-transform: uppercase;
  font-size: 4rem;
  color: inherit;
  margin-top: 0;
}

.projects-body {
  display: flex;
  flex-wrap: wrap;
}

.projects-body-container {
  padding-bottom: 2.5em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.projects-row {
  padding-bottom: 2rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -3em;
  margin-right: -3em;
}

.projects-1,
.projects-2 {
  padding-bottom: 3.5rem;
  width: 100%;
}

.card {
  max-width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: ivory;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 1, 1);
}

.card-img {
  width: 100%;
  height: 100%;
  border-style: none;
  vertical-align: middle;
}

.card-body {
  padding: 2rem;
}

.card-body button {
  width: 100%;
  color: red;
  border-color: darkcyan;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid transparent;
  padding: 0.5em 0.9em;
  font-size: 1.5em;
  line-height: inherit;
}

.card-body button:hover {
  color: #fff;
  background-color: #2eadc0;
  border-color: #27a0b3;
}

.card-body button:not(:disabled) {
  cursor: pointer;
}

.fa-caret-down {
  padding: 1rem;
  font-size: 22px;
}

.fa,
.fas {
  font-weight: 900;
}

.body-collapse:not(.show) {
  display: none;
}

.collapse-container {
  padding-bottom: 2.5em;
  color: black !important;
  background-color: #fbfbfb;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.collapse-container div {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
  flex-direction: column;
}

.collapse-container-data {
  position: relative;
  width: 100%;
  min-height: 2px;
  padding-right: 16px;
  padding-left: 16px;
}

.collapse-container-data h5 {
  text-align: justify;
  text-transform: uppercase;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  color: blueviolet;
  margin-top: 0;
}

.collapse-container-data p {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

.project-1-technologies,
.project-2-technologies {
  padding-left: 0;
}

.project-1-technologies li:not(:last-child) {
  margin-right: 0.7rem;
}

.project-2-technologies li:not(:last-child) {
  margin-right: 0.7rem;
}

.collapse-container-data a {
  text-align: center;
}

.collapse-container-data a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.col-p {
  width: 100%;
  height: 100%;
}


/* Contact Section Styles */
.container-contact {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  text-align: center;
}

.contact-headers h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: #333;
}

.form-box {
  background-color: #f9f9f9;
  border: 2px solid #333;
  padding: 1.5rem;
  width: 50%;
  margin: 2rem auto;
  border-radius: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #333;
  margin: 0.5rem 0;
  border-radius: 4px;
}

.form-control::placeholder {
  color: #999; /* Placeholder text color */
}

.form-button {
  background-color: #ea7f28;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.form-button:hover {
  background-color: #ffaa58;
}

/* Form Group Styles */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 600;
}

.form-group span {
  font-weight: 600;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form-group hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
}

/** footer: **/
footer {
  display: flex;
  flex-direction: column;
  background-image: url('../img/background/thomas\ more\ footer.jpg');
  color: cyan;
  padding: 19px;
  text-align: center;
  border-top: 2.5px solid rgb(22, 17, 14);
  border-bottom: 2.5px solid rgb(24, 13, 7);
  margin-bottom: 0px;
  vertical-align: middle;
}

/* For mobile phones: */
.col-p {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 576px) {
  .col-p {
    -ms-flex: 0 0 100%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* For desktops and laptop PC.s: */
@media only screen and (min-width: 768px) {
  .col-p {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
